body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .container {
    display: flex;
    width: 50%;
    height: 80%;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .image-section {
    flex: 1.5;
    background: url('https://s3-alpha-sig.figma.com/img/56b9/656e/4643172f5a7c37a594841c4236f29668?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mzDRRhC0r4o08Hr598YgUkcxoD5B008OFOP6uKF7~qNQPo9bi1dmY7gKTviOZjaZ3vEvKZE4E7kwez2F5mD-jEg9xnTFsh93RdHNeRL0EkwW74o6Wb3q643WPxcHdSRxbTTsW5MDmIrzaEEqqIP2lrAJY3jtLHqeBEfw75fTgyHcajmqtk9HRXmoQ3j-2ySx85zJyWPVYSEedF8MFQY7QDESAjgXI~YAZPUMjFWhRG-UYab8itlbeQ5Bf0TSUBB7PtvJIWsFIrMmk7ne2ZNRyfGC7csYL3MasCf39a5oDdhywOzavP2bL1sU4lMFU9bFArSen4CdYdTSWXTzHhKnug__') no-repeat center center/cover;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    padding: 20px;
  }
  
  .logo {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .text-content {
    margin-top: 30%;
  }
  
  .badge {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 20px;
    font-size: 12px;
  }
  
  .green {
    background-color: #34c759;
    color: #fff;
  }
  
  .black {
    background-color: #000;
    color: #fff;
  }
  
  .form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #34c759;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #28a745;
  }
  
  .signin-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .signin-link  {
    color: #34c759;
    text-decoration: none;
    margin-left: 140px;
  }
  
  .image-details {
    margin-top: 210px;
    margin-left: 20px;
  }
  .logo-above {
    margin-left: px;
  }
